In [1]:
import requests
import json
import numpy as np
import pandas as pd
import time

with open('../Data/api_key.json') as fi:
    credentials = json.load(fi)
    
api_key = credentials['api_key']

# EDA Notebook to look at data in every API response option:


- /1.0/artist/{mbid} - (a)
 
- /1.0/artist/{mbid}/setlists - (b)


- /1.0/city/{geoId} - (c)
 
- /1.0/search/artists - (d)
 
- /1.0/search/cities - (e)
 
- /1.0/search/countries - (f)
 
- /1.0/search/setlists - (g)
 
- /1.0/search/venues - (h)
 
- /1.0/setlist/{setlistId} (i)

- /1.0/setlist/version/{versionId} - (j)
 
- /1.0/setlist/{setlistId} - (k)
 
- /1.0/user/{userId} - (l)
 
- /1.0/user/{userId}/attended - (m)
 
- /1.0/user/{userId}/edited - (n)
 
- /1.0/venue/{venueId} - (o)
 
- /1.0/venue/{venueId}/setlists - (p)

# b

### /1.0/artist/{mbid}/setlists

In [2]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


b=requests.get("https://api.setlist.fm/rest/1.0/artist/b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d/setlists?p=1", headers=header)
print(b)

b_df=pd.DataFrame(b.json())
b_df.head()

<Response [200]>

,type,itemsPerPage,page,total,setlist
0,setlists,20,1,1466,"{'id': '53d6f3ad', 'versionId': 'g53c29b9d', '..."
1,setlists,20,1,1466,"{'id': '73c18a19', 'versionId': '13367d11', 'e..."
2,setlists,20,1,1466,"{'id': '43c26b8b', 'versionId': 'g2bc1485a', '..."
3,setlists,20,1,1466,"{'id': 'bf88dc2', 'versionId': '1b3bcd80', 'ev..."
4,setlists,20,1,1466,"{'id': '73d67e09', 'versionId': '7b069680', 'e..."

In [3]:
b_setlist_df = b_df['setlist'].apply(pd.Series)
b_setlist_df.head()

,id,versionId,eventDate,lastUpdated,artist,venue,sets,info,url,tour
0,53d6f3ad,g53c29b9d,30-01-1969,2021-12-14T08:26:08.000+0000,{'mbid': 'b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d...,"{'id': '4bd627fe', 'name': 'Apple Corps Roofto...","{'set': [{'song': [{'name': 'Get Back'}, {'nam...",The Beatles' last public performance. Band pla...,https://www.setlist.fm/setlist/the-beatles/196...,NaN
1,73c18a19,13367d11,04-09-1968,2020-01-17T01:22:37.000+0000,{'mbid': 'b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d...,"{'id': '4bd5973e', 'name': 'Twickenham Studios...","{'set': [{'name': '""Hey Jude"" film sessions', ...",Broadcast on September 8th 1968,https://www.setlist.fm/setlist/the-beatles/196...,NaN
2,43c26b8b,g2bc1485a,25-06-1967,2022-02-24T08:01:13.000+0000,{'mbid': 'b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d...,"{'id': '43d207b3', 'name': 'EMI Recording Stud...",{'set': [{'song': [{'name': 'All You Need Is L...,Representing the UK on 'Our World’ the first l...,https://www.setlist.fm/setlist/the-beatles/196...,NaN
3,bf88dc2,1b3bcd80,24-06-1967,2020-06-02T08:45:06.000+0000,{'mbid': 'b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d...,"{'id': '43d207b3', 'name': 'EMI Recording Stud...",{'set': [{'song': [{'name': 'All You Need Is L...,Open-door rehearsal for the press.,https://www.setlist.fm/setlist/the-beatles/196...,NaN
4,73d67e09,7b069680,29-08-1966,2019-07-10T19:44:01.000+0000,{'mbid': 'b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d...,"{'id': '3bd624d4', 'name': 'Candlestick Park',...",{'set': [{'song': [{'name': 'Rock and Roll Mus...,Last public performance until 1969,https://www.setlist.fm/setlist/the-beatles/196...,{'name': 'North American Tour 1966'}

In [4]:
b_sets_df = b_setlist_df['sets'].apply(pd.Series)
b_sets_df.head()

                                                 set
0  [{'song': [{'name': 'Get Back'}, {'name': 'Get...
1  [{'name': '"Hey Jude" film sessions', 'song': ...
2     [{'song': [{'name': 'All You Need Is Love'}]}]
3  [{'song': [{'name': 'All You Need Is Love', 'i...
4  [{'song': [{'name': 'Rock and Roll Music', 'co...

In [5]:
b_set_df = b_sets_df['set'].apply(pd.Series)
b_set_df.head()

,0,1
0,"{'song': [{'name': 'Get Back'}, {'name': 'Get ...",NaN
1,"{'name': '""Hey Jude"" film sessions', 'song': [...","{'name': '""Revolution"" film sessions', 'song':..."
2,{'song': [{'name': 'All You Need Is Love'}]},NaN
3,"{'song': [{'name': 'All You Need Is Love', 'in...",NaN
4,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN

In [7]:
# from collections import defaultdict
# b = defaultdict(list)
# for animal in a:
#     for key, val in animal.items():
#         b[key].append(val)
# print(b)

In [8]:
b_set_df

,0,1
0,"{'song': [{'name': 'Get Back'}, {'name': 'Get ...",NaN
1,"{'name': '""Hey Jude"" film sessions', 'song': [...","{'name': '""Revolution"" film sessions', 'song':..."
2,{'song': [{'name': 'All You Need Is Love'}]},NaN
3,"{'song': [{'name': 'All You Need Is Love', 'in...",NaN
4,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
5,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
6,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
7,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
8,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
9,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
10,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
11,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
12,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
13,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
14,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
15,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
16,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
17,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
18,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN
19,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN

In [9]:
# b_test = b_set_df.T

In [10]:
#genres = pd.DataFrame(dict([(k,pd.Series(v)) for k,v in genre_json.items()]))

songs = pd.DataFrame(dict([(k,pd.Series(v)) for k,v in b_sets_df.items()]))
songs

                                                  set
0   [{'song': [{'name': 'Get Back'}, {'name': 'Get...
1   [{'name': '"Hey Jude" film sessions', 'song': ...
2      [{'song': [{'name': 'All You Need Is Love'}]}]
3   [{'song': [{'name': 'All You Need Is Love', 'i...
4   [{'song': [{'name': 'Rock and Roll Music', 'co...
5   [{'song': [{'name': 'Rock and Roll Music', 'co...
6   [{'song': [{'name': 'Rock and Roll Music', 'co...
7   [{'song': [{'name': 'Rock and Roll Music', 'co...
8   [{'song': [{'name': 'Rock and Roll Music', 'co...
9   [{'song': [{'name': 'Rock and Roll Music', 'co...
10  [{'song': [{'name': 'Rock and Roll Music', 'co...
11  [{'song': [{'name': 'Rock and Roll Music', 'co...
12  [{'song': [{'name': 'Rock and Roll Music', 'co...
13  [{'song': [{'name': 'Rock and Roll Music', 'co...
14  [{'song': [{'name': 'Rock and Roll Music', 'co...
15  [{'song': [{'name': 'Rock and Roll Music', 'co...
16  [{'song': [{'name': 'Rock and Roll Music', 'co...
17  [{'song': [{'name': 'Rock and Roll Music', 'co...
18  [{'song': [{'name': 'Rock and Roll Music', 'co...
19  [{'song': [{'name': 'Rock and Roll Music', 'co...

# Step 1: 

## take b_set_df -google how to create a dataframe out of list of dicitonaries. 
## https://www.geeksforgeeks.org/create-a-pandas-dataframe-from-list-of-dicts/

## Method 1

In [ ]:
# Initialise data to lists.
# data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
#		{'Geeks':10, 'For': 20, 'geeks': 30}]

# df = pd.DataFrame.from_records(data,index=['1', '2'])
# print(df)

In [28]:
# use df.values.tolist() to initialize data to lists

list_1 = b_set_df[0].values.tolist()
df_3 = pd.DataFrame.from_records(list_1)
df_3.head()

                                                song                      name
0  [{'name': 'Get Back'}, {'name': 'Get Back'}, {...                       NaN
1  [{'name': 'It's the David Frost Theme', 'cover...  "Hey Jude" film sessions
2                 [{'name': 'All You Need Is Love'}]                       NaN
3  [{'name': 'All You Need Is Love', 'info': 'Liv...                       NaN
4  [{'name': 'Rock and Roll Music', 'cover': {'mb...                       NaN

In [29]:
list_1

[{'song': [{'name': 'Get Back'},
   {'name': 'Get Back'},
   {'name': "Don't Let Me Down"},
   {'name': "I've Got a Feeling"},
   {'name': 'One After 909', 'info': 'with "Danny Boy" tease'},
   {'name': 'Dig a Pony', 'info': 'with a false start'},
   {'name': 'God Save the Queen',
    'cover': {'mbid': '9be7f096-97ec-4615-8957-8d40b5dcbc41',
     'name': '[traditional]',
     'sortName': '[traditional]',
     'disambiguation': 'Special Purpose Artist',
     'url': 'https://www.setlist.fm/setlists/traditional-5bd2f7e4.html'},
    'info': 'Jam'},
   {'name': "I've Got a Feeling",
    'info': 'with "A Pretty Girl Is Like a Melody" tease'},
   {'name': "Don't Let Me Down"},
   {'name': 'Get Back', 'info': 'Cut short by police'}]},
 {'name': '"Hey Jude" film sessions',
  'song': [{'name': "It's the David Frost Theme",
    'cover': {'mbid': '26fa8b67-6c7f-406c-ad64-a1d070092df2',
     'name': 'George Martin',
     'sortName': 'Martin, George',
     'disambiguation': 'producer, arranger, composer, conductor, audio engineer, and musician',
     'url': 'https://www.setlist.fm/setlists/george-martin-3d6b92b.html'}},
   {'name': "It's Now or Never",
    'cover': {'mbid': '01809552-4f87-45b0-afff-2c6f0730a3be',
     'name': 'Elvis Presley',
     'sortName': 'Presley, Elvis',
     'disambiguation': '“The King of Rock and Roll”',
     'url': 'https://www.setlist.fm/setlists/elvis-presley-73d6a2b1.html'}},
   {'name': 'Hey Jude', 'info': 'Take one'},
   {'name': "It's the David Frost Theme",
    'cover': {'mbid': '26fa8b67-6c7f-406c-ad64-a1d070092df2',
     'name': 'George Martin',
     'sortName': 'Martin, George',
     'disambiguation': 'producer, arranger, composer, conductor, audio engineer, and musician',
     'url': 'https://www.setlist.fm/setlists/george-martin-3d6b92b.html'}},
   {'name': 'Hey Jude', 'info': 'Take two'},
   {'name': "It's the David Frost Theme",
    'cover': {'mbid': '26fa8b67-6c7f-406c-ad64-a1d070092df2',
     'name': 'George Martin',
     'sortName': 'Martin, George',
     'disambiguation': 'producer, arranger, composer, conductor, audio engineer, and musician',
     'url': 'https://www.setlist.fm/setlists/george-martin-3d6b92b.html'}},
   {'name': 'You Are My Sunshine',
    'cover': {'mbid': '06ed4e1e-4416-4a7c-b14b-bc68dfd252aa',
     'name': 'Jimmie Davis',
     'sortName': 'Davis, Jimmie',
     'disambiguation': 'American politician, singer and songwriter',
     'url': 'https://www.setlist.fm/setlists/jimmie-davis-4bd78776.html'}},
   {'name': 'Hey Jude', 'info': 'Take three'}]},
 {'song': [{'name': 'All You Need Is Love'}]},
 {'song': [{'name': 'All You Need Is Love', 'info': 'Live debut'}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': 'Long Tall Sally',
    'cover': {'mbid': '95c2339b-8277-49a6-9aaf-08d8eeeaa0be',
     'name': 'Little Richard',
     'sortName': 'Little Richard',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/little-richard-4bd6af2e.html'},
    'info': 'followed by tease of "In My Life" by John Lennon'}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': 'Long Tall Sally',
    'cover': {'mbid': '95c2339b-8277-49a6-9aaf-08d8eeeaa0be',
     'name': 'Little Richard',
     'sortName': 'Little Richard',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/little-richard-4bd6af2e.html'}}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': "I'm Down"}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': 'Long Tall Sally',
    'cover': {'mbid': '95c2339b-8277-49a6-9aaf-08d8eeeaa0be',
     'name': 'Little Richard',
     'sortName': 'Little Richard',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/little-richard-4bd6af2e.html'}}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': 'Long Tall Sally',
    'cover': {'mbid': '95c2339b-8277-49a6-9aaf-08d8eeeaa0be',
     'name': 'Little Richard',
     'sortName': 'Little Richard',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/little-richard-4bd6af2e.html'}}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': 'Long Tall Sally',
    'cover': {'mbid': '95c2339b-8277-49a6-9aaf-08d8eeeaa0be',
     'name': 'Little Richard',
     'sortName': 'Little Richard',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/little-richard-4bd6af2e.html'}}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': 'Long Tall Sally',
    'cover': {'mbid': '95c2339b-8277-49a6-9aaf-08d8eeeaa0be',
     'name': 'Little Richard',
     'sortName': 'Little Richard',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/little-richard-4bd6af2e.html'}}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': 'Long Tall Sally',
    'cover': {'mbid': '95c2339b-8277-49a6-9aaf-08d8eeeaa0be',
     'name': 'Little Richard',
     'sortName': 'Little Richard',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/little-richard-4bd6af2e.html'}}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': 'Long Tall Sally',
    'cover': {'mbid': '95c2339b-8277-49a6-9aaf-08d8eeeaa0be',
     'name': 'Little Richard',
     'sortName': 'Little Richard',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/little-richard-4bd6af2e.html'}}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': 'Long Tall Sally',
    'cover': {'mbid': '95c2339b-8277-49a6-9aaf-08d8eeeaa0be',
     'name': 'Little Richard',
     'sortName': 'Little Richard',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/little-richard-4bd6af2e.html'}}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': "I'm Down"}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': 'Long Tall Sally',
    'cover': {'mbid': '95c2339b-8277-49a6-9aaf-08d8eeeaa0be',
     'name': 'Little Richard',
     'sortName': 'Little Richard',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/little-richard-4bd6af2e.html'}}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': 'Long Tall Sally',
    'cover': {'mbid': '95c2339b-8277-49a6-9aaf-08d8eeeaa0be',
     'name': 'Little Richard',
     'sortName': 'Little Richard',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/little-richard-4bd6af2e.html'}}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': 'Long Tall Sally',
    'cover': {'mbid': '95c2339b-8277-49a6-9aaf-08d8eeeaa0be',
     'name': 'Little Richard',
     'sortName': 'Little Richard',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/little-richard-4bd6af2e.html'}}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': 'Long Tall Sally',
    'cover': {'mbid': '95c2339b-8277-49a6-9aaf-08d8eeeaa0be',
     'name': 'Little Richard',
     'sortName': 'Little Richard',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/little-richard-4bd6af2e.html'}}]},
 {'song': [{'name': 'Rock and Roll Music',
    'cover': {'mbid': '592a3b6d-c42b-4567-99c9-ecf63bd66499',
     'name': 'Chuck Berry',
     'sortName': 'Berry, Chuck',
     'disambiguation': '',
     'url': 'https://www.setlist.fm/setlists/chuck-berry-63d6a2b7.html'}},
   {'name': "She's a Woman"},
   {'name': 'If I Needed Someone'},
   {'name': 'Day Tripper'},
   {'name': "Baby's in Black"},
   {'name': 'I Feel Fine'},
   {'name': 'Yesterday'},
   {'name': 'I Wanna Be Your Man'},
   {'name': 'Nowhere Man'},
   {'name': 'Paperback Writer'},
   {'name': "I'm Down"}]}]

In [17]:
b_set_df.head()

,0,1
0,"{'song': [{'name': 'Get Back'}, {'name': 'Get ...",NaN
1,"{'name': '""Hey Jude"" film sessions', 'song': [...","{'name': '""Revolution"" film sessions', 'song':..."
2,{'song': [{'name': 'All You Need Is Love'}]},NaN
3,"{'song': [{'name': 'All You Need Is Love', 'in...",NaN
4,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN

In [30]:
# tried without initializing to list too

data = b_set_df[0]

df_1 = pd.DataFrame.from_records(data)
df_1.head()

                                                song                      name
0  [{'name': 'Get Back'}, {'name': 'Get Back'}, {...                       NaN
1  [{'name': 'It's the David Frost Theme', 'cover...  "Hey Jude" film sessions
2                 [{'name': 'All You Need Is Love'}]                       NaN
3  [{'name': 'All You Need Is Love', 'info': 'Liv...                       NaN
4  [{'name': 'Rock and Roll Music', 'cover': {'mb...                       NaN

In [19]:
df_2= pd.DataFrame.from_records(df_1)
df_2.head()

                                                song                      name
0  [{'name': 'Get Back'}, {'name': 'Get Back'}, {...                       NaN
1  [{'name': 'It's the David Frost Theme', 'cover...  "Hey Jude" film sessions
2                 [{'name': 'All You Need Is Love'}]                       NaN
3  [{'name': 'All You Need Is Love', 'info': 'Liv...                       NaN
4  [{'name': 'Rock and Roll Music', 'cover': {'mb...                       NaN

## Method 2

In [ ]:

   
# Initialise data to lists.
# data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
#        {'Geeks':10, 'For': 20, 'geeks': 30}]
 
# df = pd.DataFrame.from_dict(data)
#print(df)

In [31]:
df_4 = pd.DataFrame.from_dict(list_1)
df_4.head()

                                                song                      name
0  [{'name': 'Get Back'}, {'name': 'Get Back'}, {...                       NaN
1  [{'name': 'It's the David Frost Theme', 'cover...  "Hey Jude" film sessions
2                 [{'name': 'All You Need Is Love'}]                       NaN
3  [{'name': 'All You Need Is Love', 'info': 'Liv...                       NaN
4  [{'name': 'Rock and Roll Music', 'cover': {'mb...                       NaN

In [32]:
df_4['song']

0     [{'name': 'Get Back'}, {'name': 'Get Back'}, {...
1     [{'name': 'It's the David Frost Theme', 'cover...
2                    [{'name': 'All You Need Is Love'}]
3     [{'name': 'All You Need Is Love', 'info': 'Liv...
4     [{'name': 'Rock and Roll Music', 'cover': {'mb...
5     [{'name': 'Rock and Roll Music', 'cover': {'mb...
6     [{'name': 'Rock and Roll Music', 'cover': {'mb...
7     [{'name': 'Rock and Roll Music', 'cover': {'mb...
8     [{'name': 'Rock and Roll Music', 'cover': {'mb...
9     [{'name': 'Rock and Roll Music', 'cover': {'mb...
10    [{'name': 'Rock and Roll Music', 'cover': {'mb...
11    [{'name': 'Rock and Roll Music', 'cover': {'mb...
12    [{'name': 'Rock and Roll Music', 'cover': {'mb...
13    [{'name': 'Rock and Roll Music', 'cover': {'mb...
14    [{'name': 'Rock and Roll Music', 'cover': {'mb...
15    [{'name': 'Rock and Roll Music', 'cover': {'mb...
16    [{'name': 'Rock and Roll Music', 'cover': {'mb...
17    [{'name': 'Rock and Roll Music', 'cover': {'mb...
18    [{'name': 'Rock and Roll Music', 'cover': {'mb...
19    [{'name': 'Rock and Roll Music', 'cover': {'mb...
Name: song, dtype: object

## Method 3

In [ ]:
# import pandas as pd
   
# Initialise data to lists.
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
        {'Geeks':10, 'For': 20, 'geeks': 30}]
 
df=pd.json_normalize(data)
print(df)

In [33]:
df_5 = pd.json_normalize(list_1)
df_5.head()

                                                song                      name
0  [{'name': 'Get Back'}, {'name': 'Get Back'}, {...                       NaN
1  [{'name': 'It's the David Frost Theme', 'cover...  "Hey Jude" film sessions
2                 [{'name': 'All You Need Is Love'}]                       NaN
3  [{'name': 'All You Need Is Love', 'info': 'Liv...                       NaN
4  [{'name': 'Rock and Roll Music', 'cover': {'mb...                       NaN

In [11]:
b_0_df = b_set_df[0].apply(pd.Series)
b_0_df.head()

# this is now a list of dictionaries
# look up pd.dataframe and different ways to do it
# look into .transpose
# look at the column

                                                song                      name
0  [{'name': 'Get Back'}, {'name': 'Get Back'}, {...                       NaN
1  [{'name': 'It's the David Frost Theme', 'cover...  "Hey Jude" film sessions
2                 [{'name': 'All You Need Is Love'}]                       NaN
3  [{'name': 'All You Need Is Love', 'info': 'Liv...                       NaN
4  [{'name': 'Rock and Roll Music', 'cover': {'mb...                       NaN

In [ ]:

# step 2: then concat the other column from original dataframe to new dataframe
# step 3: may need to transpose, but not sure

In [ ]:
b_song_df = b_0_df['song'].apply(pd.Series)
b_song_df.head()

In [ ]:
b_dict =b_song_df[1]
b_dict_2 =b_dict[0]
print(b_dict_2)

In [ ]:
b_song_df[[1,2]]

In [ ]:
print(b_dict_2['name'])

In [ ]:
b_dict_2.keys()

In [ ]:
print('Items --> ', b_dict_2.items())

# c

## /1.0/city/{geoId}

- couldn't find geoID

# d

## /1.0/search/artists

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


d=requests.get("https://api.setlist.fm/rest/1.0/search/artists?artistName=The%20Beatles&p=1&sort=sortName", headers=header)
d_df=pd.DataFrame(d.json())
d_df.head()

In [ ]:
d_artist_df = d_df['artist'].apply(pd.Series)
d_artist_df.head()

# e

## /1.0/search/cities

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


e=requests.get("https://api.setlist.fm/rest/1.0/search/cities?p=1&stateCode=TN", headers=header)
e_df=pd.DataFrame(e.json())
e_df.head()

In [ ]:
e_cities_df = e_df['cities'].apply(pd.Series)
e_cities_df.head()

# f

## /1.0/search/countries

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


f=requests.get("https://api.setlist.fm/rest/1.0/search/countries", headers=header)
f_df=pd.DataFrame(f.json())
f_df.head()

In [ ]:
f_country_df = f_df['country'].apply(pd.Series)
f_country_df.head()

# g

## /1.0/search/setlists

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


g=requests.get("https://api.setlist.fm/rest/1.0/search/setlists?countryCode=US&p=1", headers=header)
g_df=pd.DataFrame(g.json())
g_df.head()

In [ ]:
g_setlist_df = g_df['setlist'].apply(pd.Series)
g_setlist_df.head()

In [ ]:
g_venue_df = g_setlist_df['venue'].apply(pd.Series)
g_venue_df.head()

In [ ]:
g_city_df =g_venue_df['city'].apply(pd.Series)
g_city_df.head()

In [ ]:
g_artist_df = g_setlist_df['artist'].apply(pd.Series)
g_artist_df.head()

# h

## /1.0/search/venues

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


h=requests.get("https://api.setlist.fm/rest/1.0/search/venues?p=1&stateCode=TN", headers=header)
h_df=pd.DataFrame(h.json())
h_df.head()

In [ ]:
h_venue_df = h_df['venue'].apply(pd.Series)
h_venue_df.head()

In [ ]:
h_city_df = h_venue_df['city'].apply(pd.Series)
h_city_df.head()

In [ ]:
h_coords_df = h_city_df['coords'].apply(pd.Series)
h_coords_df.head()

# i

## /1.0/setlist/{setlistId}

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


i=requests.get("https://api.setlist.fm/rest/1.0/setlist/53d6f3ad", headers=header)
i_df=pd.DataFrame(i.json())
i_df

# j

## /1.0/setlist/version/{versionId}

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


j=requests.get("https://api.setlist.fm/rest/1.0/setlist/version/g53c29b9d", headers=header)
j_df=pd.DataFrame(j.json())
j_df